.faq-wrapper {
  padding: 70px 10%;
  text-align: center;
}

.faq-card {
  margin: 15px auto;
  max-width: 700px;
  background: #fff;
  border-radius: 12px;
  padding: 18px 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}

.faq-answer {
  font-size: 15px;
  margin-top: 10px;
  color: #666;
}
