.ds-services-wrapper {
  padding: 70px 0;
  text-align: center;
}

.ds-title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 40px;
}

.ds-service-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 40px;
}

.ds-service-card {
  width: 300px;
  background: #ffffff;
  padding: 35px 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  border: 1px solid #f1f1f1;
}

.ds-service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 30px rgba(0,0,0,0.12);
}

.ds-icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.ds-service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ds-service-card p {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
}
