.mt-wrapper {
  padding: 50px 20px;
  text-align: center;
}

.mt-title {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
}

.mt-card {
  background: #fff;
  padding: 20px 18px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.mt-msg {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.mt-name {
  font-weight: 600;
  font-size: 14px;
}
